%h1 Hello!
%div#user_nav
  - if current_user
    Signed in as 
    %strong= current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else 
    = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
