.trip {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 34px;
  margin: 2em 0;
  border-radius: 8px;
}
.strike {
  text-decoration: line-through;
}
#new_message {
	display: none;
}
#show_message_form {
	
}