.trip {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 34px;
  margin: 2em 0;
  border-radius: 8px;
}
.strike {
  text-decoration: line-through;
}
#quick_message {
  margin-top: 5px;
  display: block;
  border: 10px solid #337ab7;
  border-radius: 16px;
  background: #337ab7;
  
  input[type='submit'] {
    margin: 5px 0;
  }
}
